---
import Layout from '../layouts/Layout.astro'
---

<Layout title='No existe esta página'>
	<main>
		<div>
			<h1>Oh, vaya. ¡Lo has roto!</h1>
			<img src='https://midu.dev/images/this-is-fine-404.gif' />
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
</style>
