<main>
	<ul>
		<li>
			<a href='/arkanoid'><h2>Arkanoid</h2></a>
		</li>
		<li>
			<a href='/reloj'><h2>Reloj</h2></a>
		</li>
	</ul>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
	}
	li {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		color: light-dark(black, orange);
	}
</style>
