<script>
	const btn = document.getElementById('btn')
	const html = document.querySelector('html')
	let currentTheme = window.matchMedia('(prefers-color-scheme: dark)').matches
		? 'dark'
		: 'light'

	if (btn && html) {
		btn.addEventListener('click', () => {
			if (
				window.matchMedia('(prefers-color-scheme: dark)').matches &&
				currentTheme === 'dark'
			) {
				currentTheme = 'light'
				html.style.setProperty('color-scheme', currentTheme)
			} else {
				currentTheme = currentTheme === 'light' ? 'dark' : 'light'
				html.style.setProperty('color-scheme', currentTheme)
			}
		})
	}
</script>

<button id='btn'> </button>
<style>
	button {
		margin: 0;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: light-dark(black, white);
	}
</style>
