---
import BtnTheme from './BtnTheme.astro'
---

<main>
	<h1>EL MUNDO DE PAULA</h1>
	<div>
		<BtnTheme />
	</div>
</main>

<style>
	main {
		display: flex;
		border: 1px solid red;
		background-color: light-dark(white, black);
	}
	div {
		display: flex;
		align-items: center;
		color: light-dark(green, orange);
		margin: 0 1rem;
		padding: 0;
	}
	h1 {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		font-family: 'DEMI', sistem-ui, sans-serif;
		color: light-dark(green, orange);
	}
</style>
