---
import BtnTheme from './BtnTheme.astro'
import Prueba from './Prueba.astro'
---

<main>
	<h1>AUXILIAR MANIPULADORA DEL CARTÓN</h1>
	<div>
		<BtnTheme />
	</div>
	<div>
		<Prueba />
	</div>
</main>

<style>
	div {
		margin: 0;
		padding: 0;
	}

	main {
		display: flex;
		border: 1px solid red;
	}
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		font-family: 'DEMI', sistem-ui, sans-serif;
	}
</style>
